@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);

html, body{
	width: 100%;
	height: 100%;
}
body{
	background-color: #ffffff;
}
p{
	font-family: 'Cardo', serif;
	font-size: 14px;
	line-height: 1.4;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
}
a{
	text-decoration: none;
	color: #000000;
}
a:hover{
	text-decoration: underline;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.name{
	width: 500px;
	margin: 0 auto;
	padding: 40px 0 20px 0;
}
.image{
	width: 500px;
	padding: 20px 0;
	margin: 0 auto;
}
.strip{
	display: block;
	text-align: center;
}
.ghold{
	width: 100px;
	display: inline-block;
	margin: 0 40px;
	float: left;
}
.crypt{
	width: 100px;
	display: inline-block;
	margin: 0 40px;
	float: right;
}
.buttons{
	display: inline-block;
	width: auto;
	margin: 0 auto;
}
.links{
	display: inline-block;
	width: auto;
	margin: 20px auto 0 auto;
}
.icon{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-image: url(../img/icons.png);
	float: left;
	margin: 0 0 20px 10px;
	-webkit-transition: all 0.3s ease;
		 -moz-transition: all 0.3s ease;
			 -o-transition: all 0.3s ease;
			 		transition: all 0.3s ease;
}
.icon:hover{
	background-image: url(../img/icons_hover.png);
}
.facebook{
	background-position: -10px -10px;
}
.twitter{
	background-position: -50px -10px;	
}
.instagram{
	background-position: -90px -10px;
}
.youtube{
	background-position: -130px -10px;
}
.bandcamp{
	background-position: -170px -10px;
}
.bigcartel{
	background-position: -210px -10px;
}
.email{
	background-position: -250px -10px;
}

/* Media queries */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .icon{
		background-image: url(../img/icons_x2.png);
		background-size: 290px 50px;
	}
	.icon:hover{
		background-image: url(../img/icons_hover_x2.png);
		background-size: 290px 50px;
	}
}
@media only screen and (max-width: 720px) {
	.image{
		display: block;
		width: auto;
		padding: 20px;
	}
	.strip{
		width: 100%;
	}
	.buttons{
		width: 100%;
	}
	.links{
		margin: 0 auto;
	}
	.ghold{
		float: none;
		margin: 20px 10px 20px 20px;
	}
	.crypt{
		float: none;
		margin: 20px 20px 20px 10px;
	}
	.name{
		width: auto;
		padding: 20px 20px 0 20px;
	}
}