@font-face{
	font-family:'GT-Walsheim';
	src:url('../fonts/GT-Walsheim.woff') format('woff'),
	url('../fonts/GT-Walsheim.ttf') format('truetype'),
	url('../fonts/GT-Walsheim.svg') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'GT-Walsheim';
	src:url('../fonts/GT-Walsheim-Bold.woff') format('woff'),
	url('../fonts/GT-Walsheim-Bold.ttf') format('truetype'),
	url('../fonts/GT-Walsheim-Bold.svg') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face {
  font-family: "responsivenav";
  src:url("../fonts/responsivenav.eot");
  src:url("../fonts/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../fonts/responsivenav.ttf") format("truetype"),
    url("../fonts/responsivenav.woff") format("woff"),
    url("../fonts/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}