@font-face{
	font-family:'GT-Walsheim';
	src:url('../assets/GT-Walsheim.woff') format('woff'),
	url('../assets/GT-Walsheim.ttf') format('truetype'),
	url('../assets/GT-Walsheim.svg') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'GT-Walsheim';
	src:url('../assets/GT-Walsheim-Bold.woff') format('woff'),
	url('../assets/GT-Walsheim-Bold.ttf') format('truetype'),
	url('../assets/GT-Walsheim-Bold.svg') format('svg');
	font-weight:700;
	font-style:normal;
}
html, body{
	height: 100%;
}
body{
	background-color: #fffaef;
	font-family: 'GT-Walsheim', Helvetica, sans-serif;
	color: #5f2337;
}
a{
	text-decoration: none;
	color: #5f2337;
}
p{
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	padding: 10px 0;
}
h1{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}
h2{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
}
h3{
	font-size: 18px;
	font-weight: 700;
	padding: 10px 0;
}
section .container{
	padding-top: 100px;
}

/* ------------------------------------------------------------ *\
|* form validate
\* ------------------------------------------------------------ */

#validate p{
	padding: 0 0 20px 0;
	text-align: center;
}
#validate input[type=text]{
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #5f2337;
	background-color: #fffaef;
	color: #5f2337;
}
#validate input[type=submit]{
	width: 100%;
	border-radius: 0px;
	font-size: 18px;
	font-weight: 700;
	padding: 20px;
	color: #fffaef;
	background-color: #5f2337;
	border: 1px solid #5f2337;
	cursor: pointer;
}
textarea:focus, input[type=text]:focus{
    outline: 2px solid #5f2337;
}
#invalid{
	text-align: center;
}

/* ------------------------------------------------------------ *\
|* nav
\* ------------------------------------------------------------ */

nav{
	position: fixed;
	width: 100% ;
	background: #fffaef;
	padding: 20px;
	z-index: 100;
}
nav a{
	color: #5f2337;
	font-size: 16px;
	font-weight: 400;
	margin: 0 20px;
	transition: all 0.3s ease;
	text-transform: uppercase;
	letter-spacing: 4px;
}
nav a:hover{
	color: #ffc33c;
}
nav ul{
	display: block;
	margin: 0 auto;
	text-align: center;
}
nav ul li{
	width: auto;
	display: inline;
	padding: 20px 10px;
	transition: all 0.3s ease;
}

/* ------------------------------------------------------------ *\
|* header
\* ------------------------------------------------------------ */

header{
	width: 100%;
	height: 100%;
}
header .peacock{
	margin-bottom: 20px;
	float: left;
	height: 540px;
	background: url(../assets/peacock.svg) center center no-repeat;
}
.no-svg header .peacock{
	background: url(../assets/peacock.png) center center no-repeat;
}
sup{
	font-size: 14px;
}
header .container{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ------------------------------------------------------------ *\
|* sections general
\* ------------------------------------------------------------ */

section{
	width: 100%;
}
section img{
	padding-bottom: 40px;
}

/* ------------------------------------------------------------ *\
|* the couple
\* ------------------------------------------------------------ */

#couple-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/couple.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#couple{
	padding-bottom: 100px;
}
#couple iframe{
	width: 460px;
	height: 260px;
}
#couple img{
	margin-top: 10px;
	padding-bottom: 0px;
}

/* ------------------------------------------------------------ *\
|* the proposal
\* ------------------------------------------------------------ */

#proposal-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/proposal.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#proposal{
	padding-bottom: 100px;
}
.embed-container{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-top: 15px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.caption{
	font-size: 14px;
	padding-top: 20px;
}

/* ------------------------------------------------------------ *\
|* the wedding
\* ------------------------------------------------------------ */

#wedding-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/wedding.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#wedding{
	padding-bottom: 100px;
}
#wedding img{
	margin-top: 40px;
}

/* ------------------------------------------------------------ *\
|* accomodation
\* ------------------------------------------------------------ */

#accomodation-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/accomodation.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#accomodation{
	padding-bottom: 100px;
}
#accomodation h3{
	padding: 10px 0 0 0;
}
#accomodation a{
	text-decoration: underline;
}
div.accomodation{
	padding-top: 20px;
}

/* ------------------------------------------------------------ *\
|* rsvp
\* ------------------------------------------------------------ */

#rsvp-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/rsvp.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#rsvp{
	padding-bottom: 100px;
}
#rsvp input[type=text]{
	width: 100%;
	padding: 10px;
	border: 1px solid #5f2337;
	background-color: #fffaef;
	color: #5f2337;
}
#rsvp input[type=email]{
	width: 100%;
	padding: 10px;
	border: 1px solid #5f2337;
	background-color: #fffaef;
	color: #5f2337;
}
#rsvp input[type=radio]{
	margin: 10px 20px 10px 0;
	border: 1px solid #5f2337;
}
#rsvp button{
	width: 100%;
	border-radius: 0px;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
	color: #fffaef;
	background-color: #5f2337;
	border: 1px solid #5f2337;
	cursor: pointer;
	margin-top: 20px;
}
#rsvp textarea{
	width: 100%;
	resize: none;
	border: 1px solid #5f2337;
	background-color: #fffaef;
	margin-top: 10px;
	padding: 10px;
	color: #5f2337;
}
#rsvp label{
	font-weight: 700;
	display: block;
	padding: 20px 0 10px 0;
	margin-top: 20px;
}
#rsvp span{
	color: red;
	font-weight: 400;
}

/*TEST*/

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
}

/* ------------------------------------------------------------ *\
|* contact
\* ------------------------------------------------------------ */

#contact-image{
	width: 100%;
	height: 100%;
	background-image: url(../assets/contact.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#contact{
	padding-bottom: 100px;
}

/* ------------------------------------------------------------ *\
|* footer
\* ------------------------------------------------------------ */

footer{
	width: 100%;
	background-color: #5f2337;
	padding: 40px 0 20px 0;
}
footer p{
	color: #fffaef;
	text-align: center;
}
footer a{
	color: #fffaef;
}
footer a:hover{
	color: #ffc33c;
}
footer span.break{
	display: none;
}

/* ------------------------------------------------------------ *\
|* media queries
\* ------------------------------------------------------------ */

@media only screen and (max-width: 960px) {
	footer span.break{
		display: block;
	}
	footer span.pipe{
		display: none;
	}
	footer p{
		text-align: left;
	}
	footer{
		padding: 40px 0;
	}
}

@media only screen and (max-width: 768px) {
	nav{
		display: none;
	}
}