/*@import url(http://fonts.googleapis.com/css?family=Raleway:600,400,300);*/

@font-face{
	font-family:"LLBrown";
	src:url("../fonts/lineto-brown-light-s.eot?9b4b5d");
	src:url("../fonts/lineto-brown-light-s.eot?#iefix&9b4b5d") format("embedded-opentype"),
	url("../fonts/lineto-brown-light-s.woff?9b4b5d") format("woff"),
	url("../fonts/lineto-brown-light-s.ttf?9b4b5d") format("truetype"),
	url("../fonts/lineto-brown-light-s.svg#LLBrownWeb-Light") format("svg");
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:"LLBrown";
	src:url("../fonts/lineto-brown-lightitalic-s.eot?9b4b5d");
	src:url("../fonts/lineto-brown-lightitalic-s.eot?#iefix&9b4b5d") format("embedded-opentype"),
	url("../fonts/lineto-brown-lightitalic-s.woff?9b4b5d") format("woff"),
	url("../fonts/lineto-brown-lightitalic-s.ttf?9b4b5d") format("truetype"),
	url("../fonts/lineto-brown-lightitalic-s.svg#LLBrownWeb-Lightitalic") format("svg");
	font-weight:300;
	font-style:italic;
}
@font-face{
	font-family:"LLBrown";
	src:url("../fonts/lineto-brown-regular-s.eot?9b4b5d");
	src:url("../fonts/lineto-brown-regular-s.eot?#iefix&9b4b5d") format("embedded-opentype"),
	url("../fonts/lineto-brown-regular-s.woff?9b4b5d") format("woff"),
	url("../fonts/lineto-brown-regular-s.ttf?9b4b5d") format("truetype"),
	url("../fonts/lineto-brown-regular-s.svg#LLBrownWeb-Regular") format("svg");
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"LLBrown";
	src:url("../fonts/lineto-brown-bold-s.eot?9b4b5d");
	src:url("../fonts/lineto-brown-bold-s.eot?#iefix&9b4b5d") format("embedded-opentype"),
	url("../fonts/lineto-brown-bold-s.woff?9b4b5d") format("woff"),
	url("../fonts/lineto-brown-bold-s.ttf?9b4b5d") format("truetype"),
	url("../fonts/lineto-brown-bold-s.svg#LLBrownWeb-Bold") format("svg");
	font-weight:700;
	font-style:normal;
}