/* --------------------------------------------- *\
|* universal styles
\* --------------------------------------------- */

html, body{
	height: 100%;
	font-family: 'LLBrown',Helvetica,Arial,sans-serif;
}
h1{
	background: url('../img/logo.svg');
	width: 180px;
	height: 18px;
	display: inline-block;
	margin-top: 24px;
}
.no-svg h1{
	background: url('../img/logo.png');
}
h2{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.6;
	color: #333333;
	font-style: normal;
}
p{
	font-weight: 300;
	font-style: normal;
	line-height: 1.6;
	color: #333333;
	font-size: 18px;
}
.bold{
	font-weight: 700;
}
.reg{
	font-weight: 400;
}
/*.thin{
	font-weight: 300;
}*/
.smallprint{
	font-size: 14px;
	font-weight:300;
	color: #aaaaaa;
}
a{
	color: #333333;
	text-decoration: none;
}
footer{
	color: #999999;
	margin: 0 auto;
	width: 960px;
	padding: 24px 0;
}
footer p{
	margin: 0;
}

/* --------------------------------------------- *\
|* nav styles
\* --------------------------------------------- */

 /* nav home ------------------------------------*/

.fixed{
	position: fixed !important;
	top: 0 !important;
}
#nav_home{
	position: absolute;
	width: 100%;
	background: #ffffff;
	bottom: 0;
	height: 70px;
	z-index: 500;
}

/* nav function ---------------------------------*/

.nav-toggle{
  position:fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 40px;
  float: right;
}
.nav-toggle:before{
  color: #000000;
  position: absolute;
  content: url('../img/menu.svg');
  text-indent: 0;
  text-align: center;
  width: 100%;
  top: 20px;
  left: 0;
}
.no-svg .nav-toggle:before{
	content: url('../img/menu.png');
}
.nav-toggle.active::before{
  content: url('../img/cross.svg');
}
.no-svg .nav-toggle.active::before{
	content: url('../img/cross.png');
}

/* nav ------------------------------------------*/

#nav{
	position: fixed;
	top: 0;
	width: 100%;
	background: #ffffff;
	height: 70px;
	z-index: 500;
}
.nav-container{
	width: 960px;
	margin: 0 auto;
}
nav{
	float: right;
	top: 0;
	transition: all 0.5s ease;
}
nav li{
	display: inline-block;
	margin: 0;
}

li a{
	height: 70px;
	line-height: 70px;
	text-decoration: none;
	padding: 0 20px;
	transition: all 0.3s ease;
}
li a:hover{
	background: #e6e6e6;
}

/* responsive nav -------------------------------*/

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-collapse,
.nav-collapse ul {
  list-style: none;
  float: right;
  margin-right: 10px;
}
.nav-collapse li {
  float: right;
  width: 100%;
}
.nav-collapse a {
  color: #000000;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #000000;
  background: #ffffff;
  padding: 0 20px;
  float: left;
}
.nav-collapse a.border{
	border-top: 1px solid #000000;
}
@media screen and (min-width: 40em) {
	.nav-collapse li {
    width: auto;
  }
  .nav-collapse a {
    margin: 0;
    padding: 0 20px;
    float: left;
    text-align: center;
    border-bottom: 0;
    background: transparent;
  }
  .nav-collapse a.border{
		border-top: 0;
	}
  .nav-collapse ul ul a {
    display: none;
  }
}

/* ------------------------------------------------------------ *\
|* homepage styles
\* ------------------------------------------------------------ */

.landing{
	background: url('../img/landing_title.svg') center center no-repeat;
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}
.no-svg .landing{
	background: url('../img/landing_title.png') center center no-repeat;
}
.landing_bg{
	background: url('../img/landing_img.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 100%;
}
#hypostasis{
	background: #1a1e24;
	background-attachment: fixed;
	position: relative;
	height: 100%;
	width: 100%;
}
iframe{
	margin-top: 140px;
	width: 800px;
	height: 450px;

}

/* ------------------------------------------------------------ *\
|* paintings index styles
\* ------------------------------------------------------------ */

#thumbs{
	padding: 70px 0;
}
.imgwrap:hover{
	opacity: 1;
}
.imgwrap{
	position: relative;
	transition: all 0.5s ease;
}
.imgtext{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 200;
	visibility: hidden;
	opacity: 0;
	background: rgba(26,30,36,0.8);
	transition: all 0.5s ease;
	color: #ffffff;
	padding: 40px 20px 20px 40px;
	font-size: 18px;
	margin:0;
}
.imgwrap:hover .imgtext{
	visibility: visible;
	opacity: 1;
}

/* ------------------------------------------------------------ *\
|* paintings (individual) styles
\* ------------------------------------------------------------ */

.cover{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#pompeii{
	background-image: url('../img/pompeii/000.jpg');
	background-position: center right;
}
#ruins{
	background-image: url('../img/ruins/000.jpg');
}
#marshes{
	background-image: url('../img/marshes/000.jpg');
	background-position: center left;
}
#silent{
	background-image: url('../img/silent/000.jpg');
}
#earth{
	background-image: url('../img/earth/000.jpg');
}
#an_odyssey{
	background-image: url('../img/an_odyssey/000.jpg');
}
#begins{
	background-image: url('../img/begins/000.jpg');
}
#navigator{
	background-image: url('../img/navigator/000.jpg');
}
#untitled{
	background-image: url('../img/untitled/000.jpg');
}
.title{
	position: absolute;
	padding: 40px 0 20px 0;
	background: #ffffff;
	bottom: 0;
	width: 100%;
}
.text{
	padding: 0 0 20px 0;
	background: #ffffff;
}
.paintings{
	margin-bottom: 40px;
}
.top{
	margin-bottom: 20px;
}

/* ------------------------------------------------------------ *\
|* prints
\* ------------------------------------------------------------ */

#prints{
	margin-top: 70px;
}
.caption p{
	margin: 20px 0 0 0;
	font-size: 16px;
}
p.process{
	margin-top: 0;
}
p.sold{
	color: red;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	margin-top: 0;
}

/* ------------------------------------------------------------ *\
|* profile
\* ------------------------------------------------------------ */

.profile{
	margin: 110px auto 40px auto;
}
#exhibitions{
	padding-left: 20px;
}

/* ------------------------------------------------------------ *\
|* contact
\* ------------------------------------------------------------ */

.contact{
	position: absolute;
	width: 100%;
	margin-top: 120px;
}
#contact{
	background-image: url('../img/contact.jpg');
	background-position: center right;
}

/* ------------------------------------------------------------ *\
|* media queries
\* ------------------------------------------------------------ */

@media screen and (max-width:980px){
	h1{
		margin-left: 20px;
		width: 160px;
		height: 16px;
		margin-top: 24px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.landing{
		background: url('../img/landing_title_small.svg') center center no-repeat;
	}
	.no-svg .landing{
		background: url('../img/landing_title_small.png') center center no-repeat;
	}
	#nav,
	#nav_home{
		height: 60px;
	}
	.nav-container{
		width: 100%;
		margin: 0;
	}
	.nav-collapse a.border{
		margin-top: 10px;
	}
	.nav-collapse,
	.nav-collapse ul {
	  list-style: none;
	  float: right;
	  margin-right: 0;
	}
	.alpha{
		margin-bottom: 20px;
	}
	li a{
		height: 40px;
		line-height: 40px;
	}
	footer{
		width: 100%;
		padding: 20px 20px 0 20px;
	}
	.smallprint{
		padding-bottom: 20px;
	}
	.row{
		margin-bottom: 0;
	}
	.imgtext{
		padding: 20px;
	}
	.cover{
		background-attachment: scroll;
	}
	.title{
		padding: 20px 0 0 0;
	}
	#prints .omega,
	.imgwrap.omega{
		margin-bottom: 20px;
	}
}
@media screen and (max-width:767px){
	#exhibitions{
		padding-left: 0px;
	}
	.right_print{
		margin-top: 20px;
	}
}