html, body{
	font-family: Circular, Helvetica, sans-serif;
	color: #ffffff;
}
body{
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 16px;
}
h1 img{
	width: 360px;
	height: 181px;
	margin-left: 80px;
}
h2{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h3{
	font-size: 24px;
	font-weight: 700;
	padding-top: 20px;
	margin-bottom: 0;
}
h3.top{
	padding-top: 0;
}
p{
	font-size: 16px;
}
a{
	color: #ffffff;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
nav{
	margin: 40px 0 40px 80px;
}
nav a:hover{
	color: #e4405b;
}
.text{
	width: 500px;
	margin: 40px 0 0 80px;
	color: #ffffff;
}
.button{
	margin: 40px 0 0 80px;
}
.signup{
	padding: 5px 10px;
	border: none;
	box-shadow: none;
	background-color: #e4405b;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: 0.5s ease;
}
.signup:hover{
	background-color: #5ba7a5;
}
small{
	color: #ffffff;
	margin: 80px 0 0 80px;
	padding-bottom: 40px;
	float: left;
	opacity: 0.4;
}
.privacy ul{
	padding: 0;
}
.privacy p,
.privacy li{
	font-size: 13px;
}
.privacy li{
	padding-bottom: 13px;
}
.privacy p span{
	font-weight: 700;
	font-size: 16px;
}
.form_heading{
	padding-top: 0;
	padding-bottom: 20px;
}
p.help-block{
	color: #ffffff;
	font-size: 12px;
	margin-top: -5px;
	padding-bottom: 10px;
	opacity: 0.4;
}
select.form-control,
input.form-control{
	margin-bottom: 10px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.form-control{
	background-image: url(../img/arrowdown_icon.png);
	background-repeat: no-repeat;
	background-size: 26px 8px;
	background-position: right 50%;
}


input.btn{
	margin-top: 20px;
	border-radius: 0;
	background-color: #e4405b;
	transition: 0.5s ease;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
input.btn:hover{
	background-color: #5ba7a5;
	color: #ffffff;
}
form{
	margin-bottom: 80px;
}

@media only screen and (max-width: 720px) {
	#container{
		padding: 40px;
	}
	h1 img{
		margin: 0;
	}
	.text{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.button{
		width: 100%;
		margin: 40px 0 0 0;
		padding: 0;
	}
	small{
		margin: 80px 0 0 0;
	}
	nav{
		margin: 0 0 40px 0;
	}
}

@media only screen and (max-width: 550px){
	h1 img{
		width: 100%;
		height: auto;
	}
	nav{
		font-size: 14px;
	}
}